<div class="container" style="border-radius: 5px; padding-top:64px">
  <div class="card-trip" >
    <% if @cocktail.photo.attached? %>

      <div class="card-trip-image" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @cocktail.photo.key, crop: :fill %>')">
      <h1><%= @cocktail.name %></h1>
      </div>

    <% else %>

      <div class="card-trip-image" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @cocktail.picture %>)">
      <h1><%= @cocktail.name %></h1>
      </div>

    <% end %>

    <div class="card-trip-infos">
      <div>
        <h2 class="mb-4">Ingredients</h2>
        <ul class="list-group list-group-flush">
          <% @cocktail.doses.each do |dose|  %>
            <li class="list-group-item"><%= dose.description %> - <%= dose.ingredient.name %> </li>
          <% end %>
          </ul>
      </div>
      <%= link_to 'Modify receipe', new_cocktail_dose_path(@cocktail), class: 'btn btn-flat card-trip-pricing' %>
    </div>
  </div>
</div>
