<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @cocktail.picture %>);">
  <div class="container">
    <h1><%= @cocktail.name %></h1>
</div>

<h2>Ingredients</h2>

<ul>
<% @cocktail.doses.each do |dose|  %>
  <li><%= dose.description %> - <%= dose.ingredient.name %> </li>
<% end %>
</ul>

<%= link_to 'Modify receipe', new_cocktail_dose_path(@cocktail)  %>
